@model PetCare.Web.Models.Account.UserDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center">
        <h1>@Html.DisplayTextFor(m => m.UserName)'s Profile</h1>
    </div>
    <div class="row marginTopDiv">
        <div class="col-md-5 text-center img-thumbnail">
            @if (Model.ProfilePictureId == null)
            {
                <img src="https://image.freepik.com/free-icon/sea-lion-mammal-animal-shape_318-63131.jpg" class="img-responsive img-rounded" />
            }
            else
            {
                <img src="@Url.Action("GetImage", "Image", new { area = string.Empty, id = Model.ProfilePictureId })" alt="Model.UserName" class="img-responsive img-rounded" />
            }
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-6 jumbotron">
            <div style="font-weight:bolder">
                <strong>Name: </strong>
                <h2>@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.LastName)</h2>
            </div>
            <p>
                @Html.LabelFor(m => m.Gender):
                @Html.DisplayTextFor(m => m.Gender)
            </p>
            <p>
                @Html.LabelFor(m => m.Email):
                @Html.DisplayTextFor(m => m.Email)
            </p>
            <p>
                @Html.LabelFor(m => m.PhoneNumber):
                @Html.DisplayTextFor(m => m.PhoneNumber)
            </p>
            @if (User.IsInRole(PetCare.Common.GlobalConstants.VetRoleName))
            {
                <p>
                    @Html.LabelFor(m => m.SergeryLocation):
                    <a href="http://maps.google.com/?q=@Model.SergeryLocation" target="_blank">@Html.DisplayTextFor(m => m.SergeryLocation)</a>
                </p>
            }
            <div>
                @if (Model.Pets.Count != 0)
                {
                    if (User.Identity.Name == Model.UserName)
                    {
                        <h2>
                            Your pets:
                        </h2>
                    }
                    else
                    {
                        <h2>
                            @Model.UserName's pets:
                        </h2>
                    }
                }

                @foreach (var item in Model.Pets)
                {
                    <h3>
                        @Html.ActionLink(item.Name, "PetDetails", "Pet", new { id = item.Id, area = string.Empty }, new { style = "color:#009999" })
                    </h3>
                }
            </div>
        </div>
    </div>

    <br />

    @if (Model.UserName == User.Identity.Name)
    {
        <div class="text-right">
            @Html.ActionLink("Edit Profile", "EditUserProfile", "Manage", null, new { @class = "btn btn-info" })
            @Html.ActionLink("Change your password", "ChangePassword", "Manage", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
