@model PetCare.Web.Models.VetBusyHour.VetBusyHourPageableModel

    <div class="row">

        <div class="col-md-8 col-md-offset-1">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VetBusyHours.FirstOrDefault().DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetBusyHours.FirstOrDefault().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetBusyHours.FirstOrDefault().Pet.Pet.Name)
                    </th>
                </tr>
                @{
                    var index = 0;
                }
                @foreach (var item in Model.VetBusyHours)
            {
                if (index % 2 == 0)
                {
                        <tr style="background-color:cadetblue">
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pet.Pet.Name)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color:lightblue">
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pet.Pet.Name)
                            </td>
                        </tr>
                    }

                    index++;
                }

            </table>

        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <ul class="pagination">
                    @{
                        var prevButtonClass = "waves-effect";
                        var prevPage = Model.CurrentPage - 1;
                    }

                    @if (Model.CurrentPage == 1)
                    {
                        prevButtonClass = "hide";
                        prevPage = 1;
                    }
                    @{
                        var test = Request.Params["id"];
                    }
                    <li class=@prevButtonClass><a href="@string.Format("/VetBusyHour/MyBusyHours/{0}", prevPage)"><i class="glyphicon glyphicon-chevron-left"></i></a></li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        var className = "waves-effect";

                        if (Model.CurrentPage == i)
                        {
                            className = "active";
                        }

                        <li class=@className><a href="@string.Format("/VetBusyHour/MyBusyHours/{0}", i)">@i</a></li>
                    }

                    @{
                        var nextPageButton = "waves-effect";
                        var nextPage = Model.CurrentPage + 1;
                    }

                    @if (Model.CurrentPage == Model.TotalPages)
                    {
                        nextPageButton = "hide";
                        nextPage = Model.CurrentPage;
                    }

                    <li class=@nextPageButton><a href="@string.Format("/VetBusyHour/MyBusyHours/{0}", nextPage)"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>