@model IEnumerable<PetCare.Web.Models.VetFreeHour.VetFreeHourViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.FirstOrDefault().VetName's Available Hours for @Model.FirstOrDefault().Date.Date.ToShortDateString()</h2>
<br />

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            @Html.Label(@item.Date.ToString(), new { @class = "control-label" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Book an appointment", "AddVetVisit", "VetVisit", new { vetId = item.VetId, date = item.Date, description = item.Description }, new { @class = "btn btn-warning" })
        </div>
    </div>
    <br />
}
