@model PetCare.Web.Models.HealthRecord.HealthRecordDetails

<h2 class="text-center">@Model.PetName's Health Record</h2>
<hr />
<div>
    <h3>
        @Html.LabelFor(model => model.Weight)
        <em>@Html.DisplayTextFor(model => model.Weight) kg</em>
    </h3>
    <h3>
        @Html.LabelFor(model => model.Height)
        <em>@Html.DisplayTextFor(model => model.Height) cm</em>
    </h3>
    <h3>
        @Html.LabelFor(model => model.FurColor)
        <em>@Html.DisplayTextFor(model => model.FurColor)</em>
    </h3>
    <h3>
        @Html.LabelFor(model => model.Coat)
        <em>@Html.DisplayTextFor(model => model.Coat)</em>
    </h3>

    <div class="panel-group text-center" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        @Model.PetName's Upcoming Vet Visits
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body text-center">
                    @Html.Partial("~/Views/HealthRecord/_UpcomingVetVisitsPartial.cshtml", Model)
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                         @Model.PetName's Vet Visits History
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body text-center">
                    @Html.Partial("~/Views/HealthRecord/_PassedVetVisitsPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Add Vet Visit", "AddVetVisit", "VetVisit", new { id = Model.PetId, area = string.Empty }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6 text-right">
        @Html.ActionLink("Edit", "EditHealthRecord", new { id = Model.PetId, area = string.Empty }, new { @class = "btn btn-info" })
        @Html.ActionLink("Back to Pet", "PetDetails", "Pet", new { id = Model.PetId, area = string.Empty }, new { @class = "btn btn-warning" })
    </div>
</div>
