@using PetCare.Common;

@model PetCare.Web.Models.Manage.EditUserProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("EditUserProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h3 class="text-center">Edit your profile</h3>
    <hr />

    <div class="form-group">
        <div class="col-md-7 text-center text-danger">
            @Html.ValidationSummary(true, "", new { @class = "coolLi" })
        </div>
    </div>


    @Html.EditorFor(m => m.UserName)
    @Html.EditorFor(m => m.FirstName)
    @Html.EditorFor(m => m.LastName)
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProfilePicture, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="btn btn-info btn-file">
                Browse Picture
                @Html.TextBoxFor(m => m.ProfilePicture, new { type = "file", @class = "form-control" })
            </span>
        </div>
    </div>
    var genders = new List<SelectListItem>();

    genders.Add(new SelectListItem
    {
        Text = Gender.Female.ToString(),
        Value = ((int)Gender.Female).ToString()
    });
    genders.Add(new SelectListItem
    {
        Text = Gender.Male.ToString(),
        Value = ((int)Gender.Male).ToString()
    });
    genders.Add(new SelectListItem
    {
        Text = Gender.Other.ToString(),
        Value = ((int)Gender.Other).ToString()
    });
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Gender, @genders, new { @class = "col-md-2 form-control" })
        </div>
    </div>
    @Html.EditorFor(m => m.Email)
    if (User.IsInRole("vet"))
    {
        <div class="form-group" id="vetInfo">
            @Html.LabelFor(m => m.SergeryLocation, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(m => m.SergeryLocation, null, new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.SergeryLocation, new { @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Edit Profile" />
        </div>
    </div>
}

<div class="text-right">
    @Html.ActionLink("Back to Details", "UserDetails", "Account", null, new { @class = "btn btn-warning" })
</div>
