@model PetCare.Web.Models.VetVisit.AddVetVisitViewModel

@using (Html.BeginForm("AddVetVisit", "VetVisit", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="text-center">Schedule a vet visit</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VetId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.VetId, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.VetId, Model.Vets, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DatePickerFor(m => m.DateTime)
              .Name("freeHours")
              .Value(DateTime.Today)
              .Max(DateTime.Today)
              .Culture("US")
              .Format("yyyy-MM-dd")
              .HtmlAttributes(new { @class = "form-control" }))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/Scripts/VetVisit/ajaxGetVetHours.js"></script>
}
