@using PetCare.Common
@model PetCare.Web.Models.Pet.AddPetViewModel

@using (Html.BeginForm("AddPet", "Pet", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="text-center">Add a new Pet</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
            </div>
        </div>
        @{
            var list = LoadSpecies.ReadSpecies();

            var species = new string[8];
            for (int i = 0; i < 8; i++)
            {
                species[i] = list[i];
            }
        }

        <div class="form-group">
            @Html.LabelFor(m => m.Species, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().AutoCompleteFor(m => m.Species)
                .Name("Species")
                .HtmlAttributes(new { @class = "form-control" })
                .Placeholder("Start writing..")
                .BindTo(@species))
            </div>
        </div>

        @Html.EditorFor(m => m.Gender)

        <div class="form-group">
            @Html.LabelFor(model => model.BirthPlace, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.BirthPlace, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.BirthPlace, new { @class = "form-control", placeholder = "Place of Birth" })
            </div>
        </div>

        @Html.EditorFor(m => m.ProfilePicture)

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DatePickerFor(m => m.DateOfBirth)
              .Name("DateOfBirth")
              .Value("")
              .Max(DateTime.Today)
              .Culture("US")
              .Format("yyyy-MM-dd")
              .HtmlAttributes(new { @class = "form-control" }))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Pet" class="btn btn-default" />
            </div>
        </div>
    </div>
            }
